/* Leaf */
#user-rollover.id-4701536 .badge-box > i.bdg
{
    border-radius:       6px;
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/leaf.gif");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
