/* Custom Badges */
#chat-messages .badge-box {background: none}

/* Domadness */
.id-4701536 > .badge-box > i.bdg
{
    background-image:    url("https://nightbloo.github.io/plug/custom-badges/Dom.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
